.header {
  width: 100%;
  position: relative;
  z-index: 100;
  display: block;
}

.top__area {
  width: 100%;
  height: 42px;
  background-color: #1b4e3fff; /* 深绿色背景 */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 2rem;
  gap: 10px;
  z-index: 11;
  position: relative;
}

.top__area img {
  height: 20px;
  width: auto;
}

.header__main {
  position: absolute; /* 绝对定位 */
  top: 42px; /* 为 top__area 留出空间 */
  left: 0;
  right: 0;
  z-index: 10; /* 确保在banner之上显示 */
  /* padding: 0.8rem 2rem; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* align-items: center; */
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
}

.header__logo img {
  margin-left: 3rem;
  height: 102px;
  width: auto;
}

.header__nav {
  margin-top: 2.5rem;
}

.header__nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  width: 100%;
}

.header__nav ul li {
  display: grid;
  place-items: center; /* 水平 + 垂直居中 */
}

.header__nav a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
